.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card{
  color: #004ce4;
  background-color: white;
  margin: auto;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #004ce4;
  cursor: pointer;
  border-radius: 5px;
  font-family: cursive;
}
.card:hover {
  color: blue;
  background-color: wheat;
  border-radius: 5px;
  box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.534);
}
button {
  color: rgb(255, 255, 255);
  font-size: bold;
  font-family: cursive;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  background-color: #004ce4;
}
form {
  margin-bottom: 10px;
  padding: 20px;
}
.form-control {
  border: 1px solid blue;
  padding: 6px;
  margin-right: 2px;
}